body {
    background-color: aliceblue;
}

#game-start-modal {
    position: absolute;
    z-index: 10;
    width: 80%;
    height: 80%;
    left: 50%;
    margin-left: -40%;
    background-color: lightgray;
    border: 10px solid black;
}

.player-select {
    text-align: center;
    width: 40%;
    height: 50%;
    background: aliceblue;
    border: 3px solid black;
    position: absolute;
    display: block;
    top: 25%;
}

.player-select:hover {
    font-size: 1.1em;
    cursor: pointer;
}

.disabled:hover {
    font-size: 1em;
    cursor: default;
}

.one-player, .p1-name {
    left: 5%;
}

.two-player, .p2-name {
    right: 5%;
}

.player-select > *:nth-child(1) {
    margin-top: 30%;
}

.disabled {
    color: gray;
    background-color: lightgray;
}

#chessboard {
    display: table;
    width: 50vw;
    height: 50vw;
    min-width: 440px;
    min-height: 440px;
    max-width: 80vh;
    max-height: 80vh;
    margin: auto;
    border: 25px solid #333;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#chessboard > div {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.black {
    float: left;
    width: 12.5%;
    height: 12.5%;
    background-color: #999;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.white {
    float: left;
    width: 12.5%;
    height: 12.5%;
    background-color: #fff;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.yellow {
    background-color: #ffff32;
}

.blue {
    background-color: #7f7fff;
}

.action {
	text-align: center;
	height: 50px;
    font-size: 35px;
}